# Source files
# ============
*.Rdata     text
*.rdb       binary
*.rds       binary
*.Rd        text
*.Rdx       binary
*.Rmd		text
*.R 		text

special-vendored-path/* linguist-vendored
Suppl_script.html	    linguist-vendored=false